#logo,#b, #c, #d, #e, #f, #g, #h {
    background-color: #199CED;
  border: none;
  color: white;
  padding: 30px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  border-radius: 15px;
}

body{
  background-color: lightgrey;
}

.wrapper {
    width:500px;
    height: 450px;
    margin:50px auto;
    padding-top:30px;
    text-align: center;
    background-color: #199CED;
    border-radius:10px;
}


#Login{
  text-align: center;
    text-decoration: underline;
}


#registrierung {
    width:500px;
    height: 450px;
    margin:50px auto;
    padding-top:50px;
    text-align: center;
    background-color: #199CED;
    border-radius:10px;
}

#registrierungüberschrifft{
  text-align: center;
  text-decoration: underline;
}


#Antau{
  text-align: center;
  font-size: 130px;
}

#logo{
  padding: 50px 110px;
position: absolute;
}
#b{
  padding: 50px 190px;
  margin-left: 295px;
}
#c{
  padding: 50px 191px;
}
#d{
  padding: 40px 97px;
  margin-top: 5px;
}
#e{
  padding: 40px 80px;
  margin-top: 5px;
}
#f{
  padding: 40px 80px;
  margin-top: 5px;
}
#g{
  padding: 40px 73px;
  margin-top: 5px;
}
#h{
  padding: 40px 80px;
  margin-top: 5px;
}
#auswahlliste{
text-align: center;
font-size: 30px;
}

.a{
  font-size: 30px;
}

#auswahl{
  padding: 8px 16px;
}
.form-control{
  padding: 10px 20px;
  margin-top: 5px;
}
#bregistrierung{
  padding: 8px 16px;
  margin-top: 5px;
}
#termine{
  font-size: 30px;
  text-align: center;
}
