body{
  background-color: azure;
}

li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

.active {
    background-color: #4CAF50;
}

#a{
text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    background-color: #005071;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 23px;
    padding-left:33px;
    padding-right: 33px;
    border-radius: 10px;
}

li a:hover {
    background-color: #0f6a8f;
}



.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo{
  width: 10%;
  height: auto;
}

#einloggen{

  position:absolute;
  left:77%;
}

#button:hover{
  background-color: #0f6a8f;
}
#button{
  font-size: 18px;
  background-color: #005071;
  border-radius: 12px;
  width: 160px;
  height: 50px;
  color: white;
}


#praxis{
  width: 100%;
  height: auto;
}

#center-div {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
